html{
  box-sizing: border-box;
  font-size:100%;

}
body{
  background-color:#7ba3a3;

 
}
h2{
  color:#187272 ;
  font-weight: 600;
  font-size:2.5rem;
  text-align: center;
}
button{
  padding: 23px;
  margin: 10px;
  border-radius: 10px;
  border-color: none;
}
.button{
  justify-content:space-between;
}

.app{

  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20p;



}
span{
  font-weight: 500;
  font-size: 4rem;
  color:#187272;
}